{# app/Resources/views/base.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
    <h1 class="my-4">Our products</h1>


          {% for p in products %}
             <div class="row product">
                 <div class="col-md-5">
                     <a href="{{ path('product_show', {'id':p.id  }) }}">
                         <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('img/default.svg') }}" alt="{{ p.name }}">


                     </a>
                 </div>
                 <div class="col-md-7">
                     <a class="h3 text-muted" href="{{ path('product_show', {'id':p.id  }) }}">{{ p.name }}</a>
                     <p>{{ p.description }}</p>

                     <p> <small class="text-muted">Category:</small> <span class="badge-info">{{ p.cat }}</span></p>
                 </div>
             </div>


              <hr>
         {% endfor %}

        {% if numberOfPages > 1 %}
            {% include 'default/inc/paginator.html.twig' with { "pages": numberOfPages } %}
        {% endif %}

    <p><i class="fa fa-camera-retro fa-5x"></i> fa-5x
    </p>
    <div><i class="fas fa-home fa-fw" style="background:MistyRose"></i> Home</div>

    <div class="c">
        <a class="btn btn-danger" href="#">
            <i class="fa fa-trash-o fa-lg"></i> Delete</a>
        <a class="btn btn-default btn-sm" href="#">
            <i class="fa fa-cog"></i> Settings</a>
    </div>



{% endblock %}